<ion-footer-bar class="margin-left-5" style="padding: 0px;">
  <ion-tabs class="tabs-icon-top tabs-energized">
    <ion-tab icon-off="icon ion-ios-camera-outline" title="SUGGERISCI" badge="unreadGroupMessages" badge-style="badge-clear" icon-on="ion-ios-camera-outline" ng-click="changeTab('suggest')">
      <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-off="ion-ios-navigate-outline" title="TROVA" badge="" badge-style="" icon-on="ion-ios-navigate-outline" ng-click="changeTab('findRestaurants')">
      <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-off="ion-android-restaurant" title="ORDINA" badge-style="badge-clear" icon-on="ion-android-restaurant" ng-click="changeTab('reservations')">
      <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-off="ion-ios-chatbubble-outline" title="CHAT" badge="unreadMessages" badge-style="badge-clear" icon-on="ion-ios-chatbubble" ng-click="changeTab('messages')">
      <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-off="ion-ios-people-outline" title="AMICI" badge="friendRequestsCount" badge-style="badge-clear" icon-on="ion-ios-people-outline" ng-click="changeTab('friends')">
      <ion-nav-view name="tab-favorites"></ion-nav-view>
    </ion-tab>
<!--
    <ion-tab icon-off="ion-ios-person-outline" icon-on="ion-ios-person" title="PROFILO" ng-click="changeTab('profile')">
      <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
-->

  </ion-tabs>
</ion-footer-bar>
