<ion-view hide-back-button="true" hide-nav-bar="true" can-swipe-back="true">
  <ion-content class="findRestaurantContent" ng-controller="findRestaurantsController" >

    <div id="infoRestaurant" ng-hide="!infoRestaurant" >
      <div id="back" ng-click="restaurantInfo()">
        <i class="ionic ion-arrow-left-c"></i>
        Back
      </div>
      <div class="image"><img ng-src="{{restaurant.image}}"></div>

      <div class="name">{{restaurant.name}}</div>
      <div class="address" ng-show="restaurant.address">{{restaurant.address}}</div>
      <div class="reservation_action"  ng-show="restaurant.reservation" ng-click="showReservation(restaurant)">PRENOTA</div>
      <div class="chat" ng-show="restaurant.chat == 1">CHAT ON</div>
      <div class="imenu" ng-show="restaurant.menu == 1">MENU DIGITALE</div>
      <div class="hours" ng-show="restaurant.start">{{restaurant.start}} - {{restaurant.end}}</div>
      <div class="distance">{{restaurant.distance  | number: 1}} km</div>
      <div class="action">
        <i class="icon ion-navigate" ng-click="launchNavigator(restaurant.latitude,restaurant.longitude)"><div>AVVIA NAVIGAZIONE</div></i>
        <i class="icon ion-pinpoint" ng-click="sharePosition(restaurant)"><div>CONDIVIDI POSIZIONE</div></i>
      </div>

      <div class="reservation_action productsButton"  ng-click="productsShow=true" ng-show="showMenu">Menù</div>
      <div class="reservation_action lavagnaProductsButton"  ng-click="lavagnaProductsShow=true" ng-show="showLavagna">Menù del giorno</div>

      <div class="products" ng-show="productsShow" ng-click="productsShow=false" style="position: absolute; top: 0px; background: #fff; height: 100vh; left: 0px; right: 0px;">
        <div style="position: absolute; right: 10px; top: 10px;font-size: 25px;" class="close">X</div>
        <h2 style="margin-left:5px;color:#f29109">Menù</h2>
        <div ng-repeat="product in products" ng-model="products" class="name">{{product.name}}</div>
      </div>

      <div class="lavagnaProducts" ng-show="lavagnaProductsShow" ng-click="lavagnaProductsShow=false" style="position: absolute;top: 0px; height: 100vh; left: 0px; right: 0px; background: url(img/board.png); background-size: 100% 100%; background-repeat: no-repeat; padding: 25px;">
        <div style="position: absolute; right: 10px; top: 10px;font-size: 25px;color:#fff" class="close">X</div>
        <h2 style="margin-left:5px;color:#f29109">MENU DEL GIORNO</h2>
        <div ng-repeat="lavagnaProduct in lavagnaProducts" ng-model="lavagnaProducts" class="name" style="color:#fff; font-size">{{lavagnaProduct.name}}</div>
      </div>

    </div>

    <div id="reservation" ng-hide="!reservation">
      <div id="back" ng-click="showReservation(false)">
        <i class="ionic ion-arrow-left-c"></i>
        {{restaurantName}}
      </div>
      <form name="reservation_form" id="reservation_form">
        <div class="detail block">
          <div class="title">Dettagli di prenotazione</div>
          <div class="item">
            <label>Clienti</label>
            <input required type="number" min="1" max="50" name="number_client" id="number_client" step="1" value="1">
          </div>
          <div class="item double">
            <label>Data</label>
            <input required type="date" name="date_reservation" id="date_reservation">
          </div>
          <div class="item">
            <label>Orario</label>
            <input required type="time" name="time_reservation" id="time_reservation" value="19:00">
          </div>

          <div class="item item-input full">
            <input type="text" name="special_request" id="special_request" placeholder="Richiesta Speciale? (opzionale)">
          </div>

          <div class="item item-input full">
            <input type="text" name="promo" id="promo" placeholder="Codice Promozionale YappFood">
          </div>
        </div>

        <div class="detail block">
          <div class="title">Contatto per conferma prenotazione</div>

          <div class="item item-input full">
            <i class="icon ion-ios-person"></i>
            <input required type="text" name="name_confirm" id="name_confirm" placeholder="Nome e Cognome">
          </div>

          <div class="item item-input full">
            <i class="icon ion-email placeholder-icon"></i>
            <input required type="email" name="email" id="email" placeholder="Email">
          </div>
          <div class="item item-input full">
            <i class="icon ion-ios-telephone-outline placeholder-icon"></i>
            <input required type="tel" name="tel" id="tel" placeholder="Telefono">
          </div>



        </div>

        <div class="info">
          Effettuando la prenotazione accetti i Termini e le Condizioni di YappFood ed acconsenti all’utilizzo dei tuoi dati come da informativa sulla privacy di YappFood.
          <br>(Leggi Termini e Condizioni)
        </div>

        <button id="reservation_confirm" class="button orange" ng-click="reservationConfirm()">PRENOTA</button>
      </form>
    </div>

    <div id="findrestaurant" ng-hide="reservation || infoRestaurant || !navigateButton">
      <div id="back" ng-click="changeTab('suggest')">
        <i class="ionic ion-arrow-left-c"></i>
        Back
      </div>
      <div id="map" data-tap-disabled="true" ng-show="navigateButton"></div>



      <div class="order" ng-show="navigateButton" style="display:none">
        <div class="item item-icon-right">
          <input type="text" name="" value="" placeholder="Filtra locali per nome" ng-model="searchTerm" class="searchTerm">
          <i class="icon ion-ios-search"></i>
        </div>
        <div class="oderFilter" style="display:none">
          <a class="icon ion-android-funnel " modal-select ng-model="orderValue"  on-select="orderSelected(newValue, oldValue)" options="optionsOrder" modal-title="Ordina per:">
            <div class="orderLabel">Ordina per</div>
            <div class="option">
              {{option.name}}
            </div>
          </a>
          <div class="orderValue">{{orderValue.name}}</div>
        </div>

        <div class="distanceFilter" style="display:none">
          <a class="icon ion-ios-location" modal-select ng-model="distanceValue"  on-select="orderSelected(newValue, oldValue)" options="optionsDistance" modal-title="Ordina per:">
            <div class="orderLabel">Distanza di interesse</div>
            <div class="option">
              {{option.name}}
            </div>
          </a>
          <div class="distanceValue">{{distanceValue.name}}</div>
        </div>
      </div>

      <div id="slides_restaurant">
        <div class="legend">
          <div><img width="24" src="img/icon/marker_ristorante.png"> <span> Convenzionato </span></div>
          <div><img width="24" src="img/icon/marker_suggerito.png"> <span> Suggerito </span></div>
        </div>
        <ion-slides options="data.sliderOptions" slider="data.sliderDelegate">
          <ion-slide-page class="item" ng-repeat="restaurant in restaurants | orderBy:sortType:sortReverse" ng-model="restaurants">
            <div class="description">
              <div class="name" ng-click="restaurantInfo(restaurant)">{{restaurant.name}}</div>
              <div class="address" ng-click="restaurantInfo(restaurant)" ng-show="restaurant.address">{{restaurant.address}}</div>
              <div class="chat" ng-click="restaurantInfo(restaurant)" ng-show="restaurant.chat == 1">CHAT ON</div>
              <div class="imenu" ng-click="restaurantInfo(restaurant)" ng-show="restaurant.menu == 1">MENU DIGITALE</div>
              <div class="reservation_action"  ng-show="restaurant.reservation" ng-click="showReservation(restaurant)">PRENOTA</div>
              <div class="hours" ng-click="restaurantInfo(restaurant)" ng-show="restaurant.start">{{restaurant.start}} - {{restaurant.end}}</div>
            </div>

            <div class="details" ng-click="restaurantInfo(restaurant)">
              <div style="display:none;"><span class="distance">{{restaurant.distance  | number: 1}}</span><span class="meter">km</span></div>
            </div>
          </ion-slide-page>
        </ion-slides>
      </div>

    </div>

    <div ng-hide="navigateButton" id="gpsDeactive">
      <div id="back" ng-click="changeTab('suggest')">
        <i class="ionic ion-arrow-left-c"></i>
        #suggerisci
      </div>

      <i ng-click="enableGPS()" class="icon ion-ios-navigate enableGPS" >
        <div class="description">Abilita il GPS e cerca i locali più vicini a te</div>
      </i>

    </div>

  </ion-content>

</ion-view>
