<ion-view hide-back-button="true" hide-nav-bar="true">
  <ion-content class="padding bg">
    <div class="list text-center padding">
      <img class="logo" src="img/logo.png">
      <h2><span class="bold input_txt">Enter your Email</span></h2>
      <h4 class="line-height-160 input_txt" >You’ve come to the right place to reset a forgotten password.</h4>
    </div>
    <form name="forgotPasswordForm" novalidate ng-submit="forgotPasswordForm.$valid && resetPassword(user)">
      <div class="list">
        <label class="item item-input item-clear margin-bottom10 input_rounded">
          <span class="input-label input_txt">Email:</span>
          <input name="email" class="input_txt" type="email" ng-model="user.email" placeholder="Email" ng-minlength="5" ng-maxlength="30" required>
        </label>
      </div>
    </form>

    <div class="button-bar input_rounded">
          <a href="#" ng-click="back()" class=" button button-clear button-energized right_butt">Login</a>
          <a href="#" ng-click="resetPassword(user)" ng-disabled="forgotPasswordForm.$invalid" class="input_txt button button-clear button-energized">Reset Password</a>
    </div>
    <div class="list text-center padding">
      <p class="larger-clear input_txt">YappFood © 2016</p>
    </div>
  </ion-content>
</ion-view>
