<ion-view class="login" hide-back-button="true" hide-nav-bar="true">
  <ion-content class="padding bg">
    <div class="list text-center padding">
      <img class="logo" src="img/logo.png">
    </div>
    <form novalidate name="loginForm" class="loginForm" ng-submit="loginForm.$valid && login(user)">
      <div class="list">
        <label class="item item-input item-clear input_rounded">
          <span class="input-label input_txt">Email:</span>
          <input class="input_txt" name="email" type="email" ng-model="user.email" placeholder="Email" ng-minlength="5" ng-maxlength="30" required>
        </label>
        <label class="item item-input item-clear input_rounded">
          <span class="input-label input_txt">Password:</span>
          <input class="input_txt" name="password" type="password" ng-model="user.password" placeholder="Password" ng-minlength="5" ng-maxlength="30" required>
        </label>
        <input type="submit" class="input_rounded button button-block button-clear button-energized font-size-150" value="Login" ng-disabled="loginForm.$invalid">
        <div class="button-bar input_rounded">
          <a href="#/forgotPassword" class=" button button-clear button-energized right_butt">Forgot Password</a>
          <a href="#/register" class="input_txt button button-clear button-energized">Register</a>
        </div>
      </div>
    </form>
    <div class="button-bar">
      <button ng-click="loginWithFacebook()" class="button button-positive button-block" style="border-radius: 25px 25px 25px 25px;"><i class="icon padding medium ion-social-facebook clear"></i></button>
<!--
      <button ng-click="loginWithGoogle()" class="button button-assertive button-block"><i class="icon padding medium ion-social-google clear"></i></button>
      <button ng-click="loginWithTwitter()" class="button button-calm button-block" style="border-radius: 0px 25px 25px 0px;"><i class="icon padding medium ion-social-twitter clear"></i></button>
-->    </div>
    <div class="list text-center padding">
      <p class="larger-clear input_txt white">YappFood © 2016</p>
    </div>
  </ion-content>
</ion-view>
