<ion-view hide-back-button="false" hide-nav-bar="false" can-swipe-back="true" title="Torna al locale" id="menuRestaurant" ng-controller="menuRestaurantController">
  <ion-content class="">

        <div class="menuAction" style="position:relative;">
          <div class="totOrder element">
            <div class="label">TOT. ordine</div>
            <div class="value">€. {{ totOrder | number : 2 }}</div>
          </div>
          <button class="sendOrder element" ng-click="exitRestaurant()" ng-show="!totOrder && !listOrderExists"> Abbandona il tavolo</button>
          <button class="sendOrder element" ng-click="sendOrder()" ng-show="totOrder"> Conferma Ordine</button>
          <button class="sendOrder element" ng-click="askBill()" ng-show="!totOrder && listOrderExists"> CHIEDI IL CONTO </button>
          <button class="listOrder element" ng-click="listOrder()" ng-show="listOrderExists"> I tuoi Ordini</button>
          <div class="yappto_icon element" ng-click="yappTo()" ng-show="listOrderExists"></div>
        </div>

    <div>
      <ul class="categories">
        <li ng-repeat="category in categories" ng-model="categories"><img ng-click="changeCategory(category)" ng-src="{{category.icon}}"></li>
      </ul>

      <ion-slides options="data.sliderOptions" slider="data.sliderDelegate" class="subcategories">
        <ion-slide-page ng-repeat="subcategory in subcategories | filter:{ categoryId: categorySelected }" ng-click="changeSubcategory(subcategory)" ng-model="subcategories" ng-class="{'active': subcategory.id == subcategorySelected}" data-category="{{subcategory}}">
          <div class="name">{{ subcategory.name }}</div>
        </ion-slide-page>
      </ion-slides>

      <ul class="products">
        <li ng-repeat="product in products | filter:{ subcategoryId: subcategorySelected, categoryId:categorySelected }" ng-model="products">
          <div class="name">{{ product.name }}</div>
          <div class="quantity"><div class="icon ion-plus-circled plus" ng-click="productPlus(product)"></div><div>{{ product.quantity | number }}</div><div class="icon ion-minus-circled minus" ng-click="productMinus(product)"></div></div>
          <div class="price"><div class="currency">€.</div><div class="value">{{ product.price }}</div></div>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
