<ion-view hide-back-button="true" hide-nav-bar="true" can-swipe-back="false" cache-view="false">

  <ion-content class="has-footer">
    <div id="qrcode" class="bg" ng-hide="getGoScanButton()">
      <div class="content">
        <button class="scanBarcode" ng-click="scanBarcode()">
          <img src="img/qrcode.jpg" width="150">
        </button>

        <div class="column two" ng-click="scanBarcode()">
          <img src="img/flags/it.png">
        </div>
        <div class="column two" ng-click="scanBarcode()">
          CLICCA E SCANSIONA LO #YAPPCODE DEL TUO TAVOLO O DELLA TUA CAMERA
        </div>


        <div class="column two" ng-click="scanBarcode()">
          <img src="img/flags/es.png" >
        </div>
        <div class="column two" ng-click="scanBarcode()">
          HAGA CLIC Y ESCANEAR EL YAPPCODE DE SU MESA O EN LA HABITACIÓN
        </div>

        <div class="column two" ng-click="scanBarcode()">
          <img src="img/flags/cze.png" >
        </div>
        <div class="column two" ng-click="scanBarcode()">
          НАЖМИТЕ И СКАНИРОВАТЬ YAPPCODE ВАШЕГО СТОЛА ИЛИ В ВАШЕЙ КОМНАТЕ
        </div>

        <div class="column two" ng-click="scanBarcode()">
          <img src="img/flags/fr.png">
        </div>
        <div class="column two" ng-click="scanBarcode()">
          CLIQUEZ ET SCANNEZ LE YAPPCODE DE VOTRE TABLE OU DANS VOTRE CHAMBRE
        </div>

        <div class="column two" ng-click="scanBarcode()">
          <img src="img/flags/de.png">
        </div>
        <div class="column two" ng-click="scanBarcode()">
          KLICKEN SIE AUF UND SCANNEN DIE YAPPCODE IHRER TABELLE ODER IN IHREM ZIMMER
        </div>

      </div>
    </div>



    <div id="restaurant" ng-show="getGoScanButton()">
      <div ng-controller="reservationsController">
        <div class="image" style="background-image:url({{ restaurant.photo }})">
          <div class="heart" style="visibility:hidden;"><img src="img/icon/heart.gif" width="40"></div></div>
          <div class="content">
            <div class="name">{{ restaurant.name }}</div>
            <a href="tel:{{ restaurant.phone }}" class="phone" ng-show="restaurant.phone">
              <i class="icon ion-iphone">{{ restaurant.phone }}</i>
            </a>
            <div class="address" ng-show=" restaurant.address">{{ restaurant.address }}, {{ restaurant.place }} ({{ restaurant.city }})</div>
            <div class="position" ng-show="restaurant.latitude">
              <i class="icon ion-ios-navigate-outline" ng-click="OtherShare(restaurant)"> Condividi posizione</i>
            </div>
            <div class="dish ">{{ restaurant.dish }}</div>
          </div>

          <div class="resevation">
            <ul class="categories">
              <li ng-repeat="category in categories" ng-model="categories"><img ng-click="menuRestaurant()" ng-src="{{category.icon}}"></li>
              <li><img ng-src="img/icon/info.gif" ng-click="help()"></li>
            </ul>
          </div>

        </div>
      </div>


    </ion-content>
    <div ng-include src="'views/tabs/tabs.html'"></div>

  </ion-view>
