  <ion-view hide-back-button="true" hide-nav-bar="true" can-swipe-back="true">
  <ion-content class="has-footer" scroll="false" >
<div id="suggest">
  <div class="suggest_content">
     <i class="label" ng-click="Yappa()">#suggerisci</i>
     <i class="description" ng-click="Yappa()">I <span>PIATTI</span> DELLA TUA CITTA' E DOVE GUSTARLI</i>
     <i class="icon ion-ios-camera-outline yappaicon" ng-click="Yappa()"></i>
</div>

  <div class="find_content">
     <i class="label" ng-click="changeTab('findRestaurants')"><span>TROVA</span></i>
     <i class="description" ng-click="changeTab('findRestaurants')">RISTORANTI ED HOTEL</i>
     <i class="" ng-click="changeTab('findRestaurants')">#suggeriti</i>
     <i class="icon ion-ios-navigate-outline yappaicon" ng-click="changeTab('findRestaurants')"></i>
  </div>

</div>

  </ion-content>
  <div ng-include src="'views/tabs/tabs.html'"></div>

</ion-view>
