<ion-view hide-back-button="true" hide-nav-bar="true" can-swipe-back="false" >
  <ion-content>
    <div id="yappaContent" style="position:relative; text-align:center; background-color:#000" >

      <div id="infoAction" ng-show="infoShow">
        <i class="icon ion-close-circled close" ng-click="infoAction()"></i>
        <p>Divertiti con il tuo primo social food.</p>
        <p class="title">#SUGGERISCI</p>
        <p>Se sei orgoglioso della tua città e delle sue tradizioni culinarie #suggerisci un locale dove poter gustare un piatto o un cocktail , noi lo contatteremo e se entrerà a far parte dei #localiyappfood ti verranno accreditati € 15,00 in buoni sconto di € 1,50 cadauno da poter utilizzare, anche cumulati, nelle tue prenotazioni presso i #localiyappfood. Per conoscere il tuo saldo sconti invia una mail a suggeriscoeguadagno@yappfood.com</p>
        <p class="title">#YAPPA</p>
        <p>Se ti piace ciò che stai mangiando o bevendo #yappa. Yappa vuol dire scatta una foto e condividila con yappfood, in automatico verrà postata su Facebook e su istagram e ti verranno accreditati 10 punti nella classifica YappONE che assegna 1 crociera al mese.</p>
        <p>Divertiti con yappfood</p>
        <p>Leggi il <a href="http://www.yappfood.com/doc/condizioni_generali_di_utilizzo.pdf">Regolamento</a> sul sito.
      </div>

      <div class="back">
        <i class="icon ion-arrow-left-c" ng-click="back()"></i>
      </div>
      <img ng-src="{{yappaSrc}}" id="yappaImage" style="height:99vh">

      <div id="yappAction" style="" >
        <input id="nameplace" ng-show="suggest" class="yappaDescription" type="text" placeholder="Inserisci il nome del locale dove sei" />
        <input id="address" ng-show="suggest" class="yappaDescription" type="text" placeholder="Inserisci l'indirizzo" />
        <input id="city" ng-show="suggest" class="yappaDescription" type="text" placeholder="inserisci la città" />
        <input id="yappaDescription" ng-hide="suggest" class="yappaDescription" type="text" placeholder="Lascia quì un commento..." />

        <div class="divisor" ng-class="full ? 'divisor full' : 'divisor'">
          <div class="suggest button" ng-click="suggestAction()">
            <span class="letter">Y</span>
            <span class="name">Suggerisci</span>
            <span class="description">e guadagna €15</span>
            <span class="info">*</span>
          </div>
        </div>
        <div ng-hide="suggest" ng-class="full ? 'divisor full' : 'divisor'">
          <div class="info button small" ng-click="infoAction()">
            <span class="letter">*</span>
          </div>
        </div>
        <div ng-hide="suggest" ng-class="full ? 'divisor full' : 'divisor'">
          <div class="yappa button" ng-click="yappaAction()">
            <span class="letter">Y</span>
            <span class="name">Yappa</span>
            <span class="description">e guadagna 10 punti</span>
            <span class="info">*</span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

</ion-view>
