<ion-view hide-back-button="false" hide-nav-bar="false" can-swipe-back="true"  title="Conosciamoci" id="yappTo" ng-controller="yappToController">
  <ion-header-bar align-title="center" class="bar-energized">
    <h1 class="title">Conosciamoci</h1>
  </ion-header-bar>
      <ion-content class="has-footer" ng-show="showYappTo">
    <ul class="tables">
      <li ng-click="tableUsers(table)" ng-repeat="table in tables" ng-model="tables" style="position:absolute; top:{{ table.ptop }}%;left:{{ table.pleft }}%">{{ table.number }}</li>
    </ul>
    <div id="tableUsers" ng-show="chatUsersOverlay">
      <div class="content">
        <div class="chatUsersList">
          <i class="close icon ion-close-round" ng-click="chatUsersOverlayClose()"></i>
          <h1>Tavolo {{table.number}}</h1>
        <ul>
          <li ng-repeat="chatUser in chatUsers" ng-model="chatUsers" >
            <div class="image">
              <img ng-src="img/zodiac/{{chatUser.zodiac}}.png" width="50">
            </div>
            <div>
              <h2 class="name">{{ chatUser.name }}</h2>
              <h3 class="zodiac">{{ chatUser.zodiac }}</h3>
            </div>
            <div class="action">
              <i class="icon ion-chatbubbles chat" ng-show="chatUser.friend" ng-click="chat(chatUser)"></i>
              <i class="icon ion-android-person-add add" ng-hide="chatUser.friend" ng-click="friendRequest(chatUser)"></i>
            </div>
          </li>
        </ul>
        </div>
      </div>
    </div>

  </ion-content>
  <div ng-include src="'views/tabs/tabs.html'"></div>

</ion-view>
