/*
LOGIN
*/
.login {
  padding: 5%;

}
.loginForm input[type="submit"]{
  background-color: #F29109!important ;
}

.loginForm .button-bar.input_rounded {
  background:none!important;
}

.loginForm .button-bar.input_rounded a {
  color:#FFF!important;
}
