.registerForm label.item.sex {
  background: none;
  border: none;
  padding: 0px;
  margin-bottom: 10px;
}


.registerForm label.item.sex >label {
  float: left;
  width: 49%;
  border-radius: 12px;
  margin: 0px;
}

.registerForm label.item.sex >label.left {
  margin-right: 1%;
}
.registerForm label.item.sex >label.right {
  margin-left: 1%;
}

.registerForm label.item.sex .item-radio .item-content {
  padding: 15px 0px 5px 10px;
}

.registerForm button.openZodiac {
  vertical-align: middle;
  padding:5px 10px 5px 0px;
  margin: 0px;
  line-height: 0px;
  background-color: #f29109;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.registerForm button.openZodiac img {
  vertical-align: middle;
  height: 60px;
  border: none;
  border-radius: 10px;
}

.registerForm #zodiac {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  margin: -10px;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  padding: 5%;
}

.registerForm #zodiac ul li {
  float: left;
  margin: 2px;
  background-color: #f29109;
  border-radius: 10px;
  padding: 2%;
  width: 31%;
}
.registerForm #zodiac ul li.activated {
  background-color: #000;
}


.registerForm #zodiac ul li img {
  width: 100%;
}



.hidden {
  visibility: hidden;;
  width: 0px;
  height: 0px;
  display: inline-block;
}

.disclaimer {
  padding: 10px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 14px;
  font-size: 12px;
}
