.bar-footer {
    bottom: 0;
    border-top-width: 1px;
    border-bottom-width: 0;
    background-position: top;
    height: 55px;
}

.bar-footer .tab-title{
  font-size: 11px;
}

.bar-footer .tabs{
  height: 55px;
}



.tab-item .icon {
  display: block;
  margin: 0 auto;
  height: 38px;
  font-size: 40px;
  margin-top: 0px !important;
}

.logo {
  width: 45%;
  height: auto;
  margin-top: 20px;
}
.white {
  color: #fff;
}
.item-input {
  margin-bottom: 10px;
  border-radius: 5px;
}
.item-clear {
  border: 0px;
}
.button {
  border-radius: 5px;
}

.button.orange{
  background-color: #f29109;
  text-align: center;
  color: #fff;
  margin: auto;
}

.orange{
  color: #f29109;
}

.button-no-margin-top {
  margin-top: 0px !important;
}
.spinner svg {
  width: 56px;
  height: 56px;
  stroke: #fff;
  fill: #fff;
}
.image-popup .popup {
  text-align: center;
  width: 100% !important;
  height: auto !important;
  background: rgba(0, 0, 0, 1);
}
.image-popup .popup-head {
  display: none;
}
.image-popup .popup-buttons {
  position: absolute;
  top: -2.5% !important;
  left: 85% !important;
}
.image-popup .button-confirm {
  color: rgba(255, 255, 255, 0.75);
  background: none;
  border: 0px;
}
.message-confirm .popup {
  width: 225px !important;
  height: auto !important;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 10px !important;
  font-size: 120%;
  line-height: 160%;
  text-align: center;
}
.message-confirm .popup-head {
  border: 0px !important;
}
.message-confirm .popup-title {
  color: #fff;
  font-size: 200%;
  margin-bottom: -20px;
}
.message-confirm .button-confirm {
  color: #fff;
  background: none;
  border: 0px;
}
.message-popup {
  width: 225px;
  height: auto;
  border-radius: 50px !important;
}
.message-popup p {
  line-height: 160%;
  font-size: 110%;
}
.loading {
  border-radius: 10px !important;
}
.profilePic {
  width: 96px;
  height: auto;
  border-radius: 150px;
  margin-top: 75px;
}
.bold {
  font-weight: bolder;
}
.line-height-160 {
  line-height: 160%;
}
h4 a {
  text-decoration: none;
}
.larger-clear {
  font-size: 110%;
}
.larger-clear a {
  text-decoration: none;
}
.item-input-wrapper {
  background: #fff;
  margin-right: -30px !important;
}
/* Search Bar */

.item-searchbar {
  border: 0;
  margin-bottom: -10px !important;
}
.item-searchbar i {
  margin-right: 10px;
  font-size: 20px;
}
.has-tabs-top {
  top: 0px !important;
}
/* Tabs */

.tab-item {
  /*color: #F29109 !important;*/
  opacity: 0.5;
}
a.tab-item{
  font-size: 14px!important;
}
.badge {
    opacity: 1 !important;
    border: 1px solid !important;
}

/* Custom CSS Helpers */

.input-style {
  font-size: 16px !important;
  font-weight: bold !important;
  background: #fff !important;
}
.disabled-input-style {
  font-size: 16px !important;
  font-weight: bold !important;
  opacity: 1 !important;
  background: #fff !important;
}
.profile-button {
  border-radius: 10px !important;
  height: 65px;
  margin: 10px;
}
.profileProfilePic {
  margin-left: -5px;
  min-width: 50%;
  max-width: 50%;
  height: auto;
  border-radius: 100%;
  object-fit: cover;
}
.groupDetailsPic {
  width: 128px;
  height: 128px;
  border-radius: 100%;
  object-fit: cover;
}
.groupListPic {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  object-fit: cover;
}
.groupComposePic {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  object-fit: cover;
}
.groupMemberPic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}
.profile-inline-icon {
  width: 16px;
  font-size: 16px;
  padding: 0;
  margin: 0;
  margin-left: -10px;
  margin-right: 5px;
}
.inline-icon {
  width: 16px;
  font-size: 30px;
  padding: 0;
  margin: 0;
}
.inline-group-icon {
  width: 16px;
  font-size: 36px;
  padding: 0;
  margin: 0;
  margin-left: -10px;
  margin-right: 10px;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.margin-top0 {
  margin-top: 0px !important;
}
.margin-top10 {
  margin-top: 10px !important;
}
.margin-top-5 {
  margin-top: -5px !important;
}
.margin-top-10 {
  margin-top: -10px !important;
}
.margin-top15 {
  margin-top: 15px !important;
}
.margin-top20 {
  margin-top: 20px !important;
}
.margin-top-20 {
  margin-top: -20px !important;
}
.margin-left10 {
  margin-left: 10px !important;
}
.margin-left20 {
  margin-left: 20px !important;
}
.margin-bottom10 {
  margin-bottom: 10px !important;
}
.margin-bottom-5 {
  margin-bottom: -5px !important;
}
.margin-bottom-10 {
  margin-bottom: -10px !important;
}
.margin-bottom-15 {
  margin-bottom: -15px !important;
}
.margin-bottom-20 {
  margin-bottom: -20px !important;
}
.margin-right10 {
  margin-right: 10px !important;
}
.margin-right-10 {
  margin-right: -10px !important;
}
.padding-top10 {
  padding-top: 10px !important;
}
.clear-margin {
  margin: 0 !important;
}
.clear-border {
  border: 0 !important;
}
.clear-padding-margin {
  margin: 0 !important;
  padding: 0 !important;
}
.font-bold {
  font-weight: bold !important;
}
.font-size-150 {
  font-size: 150% !important;
}
.font-size-100 {
  font-size: 100% !important;
}
.font-size-85 {
  font-size: 85% !important;
}
.float-left {
  float: left !important;
}

/* Messages List */

.item-border-off .item:first-child {
  border-top: 0;
}
.time-list {
  color: #a3a3a3 !important;
  font-size: 12px !important;
  padding-left: 20px;
  position: absolute;
  right: 12px;
  top: 5px;
}
.time-list .icon {
  left: 0;
}
.time-list .icon:before {
  color: #a3a3a3;
  font-size: 12px;
  width: 12px;
}
.online-on, .online-off {
  background: #F29109;
  border-radius: 50%;
  display: inline-block;
  height: 9px;
  margin-left: 6px;
  vertical-align: middle;
  width: 9px;
}
.online-off {
  background: #E8E8E8;
}
.item-avatar img {
  width: 100% !important;
  height: 100% !important;
  max-width: 60px !important;
  max-height: 60px !important;
  min-height: 60px !important;
  min-width: 60px !important;
  object-fit: cover;
  margin-left: -6px;
  margin-top: -8px;
  background-color: #F29109;
}
.item-avatar h2 {
  font-size: 105%;
  margin-left: 10px;
  color: #353535;
}
.item-avatar p {
  font-size: 95%;
  margin-left: 10px;
  color: #353535;
}
.button-header, .button-header .icon:before {
  font-size: 25px !important;
  border: 0px;
}
.item-chat {
  margin-top: 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: solid #f5f5f5;
  border-width: 1px;
}
.larger-clear {
  font-size: 110%;
}
.larger-clear a {
  text-decoration: none;
  color: #F29109;
}

/* Messages */

.item-chat p a {
  text-decoration: none;
}
.messages {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.messages li {
  display: block;
  clear: both;
  max-width: 80%;
  margin: 0 0 1rem 0;
  padding: 0;
}
.messages p {
  border-radius: .75rem;
  background: #e6e5eb;
  color: #383641;
  padding: .6875rem;
  margin: 0;
  font-size: .875rem;
}
.messages img {
  display: block;
  border-radius: .75rem;
  min-width: 60px !important;
  min-height: 60px !important;
  object-fit: cover;
}
.messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.messages .other {
  float: right;
}
.messages .self {
  float: left;
}
.messages .other, .messages .self {
  display: flex;
  margin: 0 0 1rem 0;
  padding: 0;
}
.messages .other a {
  text-decoration: none;
  font-weight: bold;
}
.messages .self a {
  text-decoration: none;
  font-weight: bold;
}
.messages .other .avatar, .messages .self .avatar {
  height: 60px;
  min-width: 60px;
  width: 60px;
  min-height: 60px;
  background-color: #F29109;
  border-radius: 60px;

}
.messages .other .avatar img, .messages .self .avatar img {
  border-radius: 50%;
  max-width: 100%;
}
.messages .other .msg, .messages .self .msg {
  margin-left: 10px;
}
.messages .other .msg p, .messages .self .msg p {
  background: #F29109;
  border-radius: .3rem;
  color: #fff;
  font-size: .875rem;
  margin: 0;
  padding: .6875rem;
  position: relative;
}

.input_rounded{
    border-radius: 12px !important;
    color: #fff !important;
}

.input_txt{
  color: #000 !important;
}

.right_butt{
    border-right: #fff 1px solid !important;
    color: #fff !important;
}

.messages .other .msg p:after, .messages .self .msg p:after {
  border-color: transparent #F29109;
  border-style: solid;
  border-width: 6px 5px 6px 0;
  content: '';
  display: block;
  left: -5px;
  position: absolute;
  top: 8px;
  width: 0;
  z-index: 1;
}
.messages .other .msg img, .messages .self .msg img {
  display: block;
  border-radius: .75rem;
  max-width: 265px;
  max-height: 150px;
}
.messages .other .msg time, .messages .self .msg time {
  color: #A1A1A1;
  float: right;
  font-size: 0.8rem;
  margin-top: 3px;
}
.messages .other {
  justify-content: flex-end;
}

.bg{
  background: url(../img/bg_login.jpg);
  background-size: cover;
}


.messages .other .avatar {
  order: 2;
}
.messages .other .msg {
  margin-left: inherit;
  margin-right: 10px;
}
.messages .other .msg p {
  background: #e8e8e8;
  color: #6f6f6f;
  order: 1;
}
.messages .other .msg p:after {
  border-color: transparent #e8e8e8;
  border-width: 6px 0 6px 5px;
  left: inherit;
  right: -5px;
}
.messages .other .msg img {
  order: 1;
  float: right;
}
.messages .self .msg time {
  float: right;
}
.messages .other .msg time {
  float: left;
}
.scroll-bar-indicator {
  display: none;
}

.yappaicon {
  font-size: 40px;
  color: #fff;
  width: 50px;
  margin: auto;
}

#yappaContent #infoAction {
  max-width: 100%;
  border: 1px solid #fff;
  padding: 10px;
  background-color: rgb(242, 145, 9);
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 56px;
  left: 10px;
  right: 10px;
  text-align: left;
  z-index: 999999;
}
#yappaContent #infoAction p.title{
  font-weight: bold;
  font-size: 14px;
}

#yappaContent #infoAction a{
  color: #fff;
  font-weight: bold;
}


#yappaContent #infoAction i.close{
  font-size: 24px;
  color: #fff;
  float: right;
}


#yappaContent .back{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 5px;
  font-size: 30px;
  background-color: #f29109;
  color: #fff;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 10px;
  left: 10px;
}

#yappAction {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 0px 10px;
}

#yappAction .divisor{
  float: left;
  width: 33%;
  text-align: center;
}

#yappAction .divisor.full{
  width: 100%;
}


#yappAction .divisor .button{
  border-radius: 55px;
  background-color: rgb(242, 145, 9);
  background-color: rgba(242, 145, 9, 0.8);
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  margin: auto;
  width: 110px;
  height: 110px;
  line-height: 1em;
  color: #fff;
}
#yappAction .divisor .button.small{
  border-radius: 30px;
  font-size: 45px;
  width: 60px;
  height: 60px;
}

#yappAction .divisor .button.small .letter{
  margin-top: 13px;

}


#yappAction .divisor .button .letter{
    font-size: 45px;
    margin-top: 20px;
    width: 100%;
    display: inline-block;
}

#yappAction .divisor .button .name{
    font-size: 15px;
    display: inline-block;
    width: 100%;
}

#yappAction .divisor .button .description{
    font-size: 13px;
    color: #000;
}

#yappAction .divisor .button .info{
    font-size: 13px;
}

#yappAction i{
  border-radius: 25px;
  padding: 5px 15px;
  font-size: 30px;
  background-color: #f29109;
  color: #fff;
  text-align: center;
  margin: auto;
}

#yappAction i.big{
  font-size: 40px;
}

#yappAction input.yappaDescription{
  border: none;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px;
  height: 50px;
  margin-bottom: 15px;
  color: #fff;
  font-size: 20px;
}

/*Reservations*/
.yappaheader i{
  float: left;
  width: 33%;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

.yappaheader i.yappaicon{
font-size: 60px;
line-height: 0px;
margin: 0px;
padding: 0px;
vertical-align: top;
margin-top: -13px;
}

#qrcode {
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: url(../img/bg_suggest.png);
  background-size: cover;
}
#qrcode > .content{
text-align: center;
padding-top: 10px;
background: rgba(0, 0, 0, 0.6);
height: 100vh;
}

#qrcode > .content .column.two{
  float: left;
  width: 48%;
  color: #fff;
  font-size: 11px;
  text-align: left;
  line-height: 1.2em;
  height: 70px;
}

#qrcode > .content .column.two img{
  height: 50px;
  width: auto;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}


#qrcode > .content .scanBarcode{
  background: none;
  border: none;
  margin: auto;
  margin-bottom: 10px;
  display: block;
}

#qrcode > .content .description{
  font-size: 18px;
  margin-top: 15px;
  color: #FFF;
}

#qrcode  > .content .divisor{
  font-size: 18px;
  width: 100%;
  display: inline-block;
  color: #fff;
  margin: 30px auto;
  width: 80%;
  border-top: dashed 1px #ccc;
}

#qrcode .findRestaurant i{
  font-size: 54px;
  width: 100%;
  display: inline-block;
  color: #f29109;
}

#qrcode .findRestaurant i .search{
  margin-top: 10px;
  font-size: 28px;
  width: 100%;
  color: #f29109;
}


#restaurant  {
  background-color: #dcdcdc;
  width: 100vw;
  height: 100vh;
}

#restaurant .content {
  padding: 10px;
  float: left;
  background-color: #fff;
  width: 100%;
}

#restaurant .image {
  height: 30vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;;

}
#restaurant .heart {
  position: absolute;
      right: 5px;
      bottom: -10px;
      background: #FFF;
      border-radius: 30px;
      border: 1px solid #cecece;
      z-index: 1;
}

#restaurant .heart img{
  padding: 5px;
  margin: 5px;
}

#restaurant .name {
  font-size: 25px;
  font-weight: bold;
  float: left;
  margin-right: 10px;
}
#restaurant .phone{
  font-size: 16px;
  float: left;
  margin-right: 10px;
  clear: right;
  color: #949494;
}

#restaurant .phone .icon:before {
    padding-right: 5px;
}

#restaurant .address{
  font-size: 12px;
  float: left;
  width: 100%;
  padding-top: 10px;
  color: #949494;
}
#restaurant .position{
  font-size: 14px;
  float: left;
  width: 50%;
  padding-top: 10px;
}
#restaurant .position > div{
  float: left;
}

#restaurant .dish{
  font-size: 16px;
  float: left;
  width: 50%;
  padding-top: 10px;
  color: #949494;
  text-align: center;
}

#restaurant .resevation{
  float: left;
  width: 100%;
  clear: both;
  padding-top: 10px;
}

#restaurant .resevation > .categories li {
  float: left;
  width: 33.3%;
  margin: 0.5% 0px;;
  color: #949494;
  text-align: center;
}

#restaurant .resevation > .categories li:nth-child(4)  {
float: right;
}

#restaurant .resevation > .categories li:nth-child(6) img  {
  width: 80px
}

#restaurant .resevation > .categories img  {
width: 99px;
}

#restaurant .resevation > img.center {
  margin: 0.5% 5%;
}

#restaurant .resevation > img.small {
  padding: 5%;
}

#findrestaurant .swiper-container {
  height: 110px;

}

#findrestaurant #map {
    width: 100%;
    height: 95vh;
}

#findrestaurant #slides_restaurant {
  position: absolute;
  bottom: 0px;
  height: 135px;
  left: 0px;
  right: 0px;
  background: #fff;
}



#findrestaurant #map .infowindow img{
    height: 20vh;
}

#findrestaurant #map .infowindow b{
  color: #f29109;
}


.findRestaurantContent i.enableGPS {
  width: 100%;
  font-size: 70vw;
  text-align: center;
  color: #f29109;
  display: block;
  margin: auto;
}

.findRestaurantContent i.enableGPS .description{
  width: 100%;
  display: block;
  font-size: 28px;
  line-height: 1.2em;
  padding: 10px;
  text-align: center;
  color: #ccc;
}


#findrestaurant .item {
  width: 100%;
  padding: 5px;
  float: left;
  margin: 0px;
}


#findrestaurant .order {
  width: 100%;
  padding: 5px 0px;
  float: left;
}


#findrestaurant .order .searchTerm {
  padding: 0px 5px;
}


#findrestaurant .oderFilter {
  width: 50%;
  float: left;
}

#findrestaurant .oderFilter .orderValue {
  width: 100%;
  float: left;
  padding-left: 35px;
}

#findrestaurant .distanceFilter {
  width: 50%;
  float: left;
}

#findrestaurant .distanceFilter .distanceValue {
  width: 100%;
  float: left;
  padding-left: 35px;
}



#findrestaurant .order a.icon {
  padding: 5px;
  float: left;;
  width: 110px;
  text-align: left;
  color: #cccccc;
  font-weight: bold;
  font-size: 35px;
}

#findrestaurant .order .oderFilter a.icon {
  width: 110px;
}
#findrestaurant .order .distanceFilter a.icon {
  width: 150px;
}



#findrestaurant .order a.icon .orderLabel{
  padding: 5px;
  float: right;;
  text-align: left;
  color: #cccccc;
  font-size: 11px;
}



#findrestaurant .item .image_content .button.orange {
  font-size: 10px;
  padding: 5px;
  float: right;
}

#findrestaurant .item .description {
  float: left;
  width: 80%;
}

#findrestaurant .item .description .name{
  font-size: 14px;
  color: #f29109;
  font-weight: bold;;
}

#findrestaurant .item .description .address{
  font-size: 12px;
  color: #cccccc;
  display: block;
}

#findrestaurant .item .description .chat{
  font-size: 12px;
  color: #000;
  border: solid 1px #f29109;
  float: left;
  padding: 5px;
  text-transform: uppercase;;
  border-radius: 5px;
}

#findrestaurant .item .description .imenu{
  font-size: 12px;
  color: #000;
  border: solid 1px #f29109;
  float: left;
  padding: 5px;
  text-transform: uppercase;;
  border-radius: 5px;
  margin-left: 5px;
}

#findrestaurant .reservation_action {
  background-color: #f29109;
  color: #fff;
  font-size: 12px;
  color: #fff;
  border: solid 1px #f29109;
  float: left;
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;;
  border-radius: 5px;
  margin-left: 5px;
}



#findrestaurant .item .description .hours {
  float: left;
  width: 100%;
  margin: 10px 0px;
}


#findrestaurant .item .details {
  float: left;
  width: 20%;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #000;
}




#findrestaurant .item .details .meter {
  text-align: center;
  font-weight: normal;
  color: #f29109;
}

#findrestaurant .item .image_content img {
  width: 100%;
  max-width:50px;
  margin-left: 5px;
}

#findrestaurant .legend div {
  float: left;
  width: 50%;
}

#findrestaurant .legend {
  width: 100%;
  padding: 2px 5px;
  font-size: 12px;
  clear: both;
  float: left;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

#findrestaurant .legend img {
  height: 12px;
  width: auto;
}

#reservation {
  background-color: #ECECEC;
}

#findrestaurant #back{
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  font-size: 20px;
  padding: 10px;
  position: absolute;
  z-index: 9999;
  left: 0;
}

#reservation #back{
  background-color: #2E2E2E;
  color: #fff;
  font-size: 24px;
  padding: 10px;
}


#reservation .block{
  margin: 10px;
  display: inline-block;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
#reservation .block .title{
  font-size: 18px;
  margin-bottom: 15px;
  color: #000;
  font-weight: bold;
}


#reservation .block .item{
      float: left;
      width: 22%;
      padding: 0px;
      border-color: #fff;
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      margin: 0px 1%;
}

#reservation .block .item.double{
  width: 50%;
}

#reservation .block .item input{
  width: 100%;
  background-color: #fff;
}

#reservation .block .item label{
  color: #cccc;
}

#reservation .block .item.full{
  width: 100%;
}

#reservation .info{
  font-size: 9px;
  margin: 10px;
  padding: 5px;
}

#reservation #reservation_confirm{
  display: block;
  font-size: 24px;
  padding: 5px 10px;
}


#gpsDeactive #back{
  background-color: #2E2E2E;
  color: #fff;
  font-size: 24px;
  padding: 10px;
}

/* infoRestaurant */


#infoRestaurant .action{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
  width: 100%;
  display: inline-block;
  margin-top: 10px;
}

#infoRestaurant .action i{
  font-size: 36px;
  text-align: center;;
  color: #ccc;
  float: left;
  width: 33.3%;
}

#infoRestaurant .action i div{
  font-size: 14px;
  color: #ccc;
  display: block;
  text-align: center;
}

#infoRestaurant #back {
  background-color: #2E2E2E;
  color: #fff;
  font-size: 24px;
  padding: 10px;
}

#infoRestaurant .image{
  text-align: center;
}

#infoRestaurant .image img {
width: auto;
height: auto;
max-height: 250px;
}

#infoRestaurant .name {
  margin-top: 10px;
  font-size: 24px;
  padding-left: 10px;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  color:#fff;
}

#infoRestaurant .address {
  font-size: 12px;
  padding-left: 10px;
  display: inline-block;
  width: 100%;
  margin: 10px 0px;
}

#infoRestaurant .reservation_action {
  background-color: #f29109;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: solid 1px #f29109;
  float: left;
  padding: 15px 5px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-left: 10px;
}

#infoRestaurant .chat {
  background-color: #f29109;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  border: solid 1px #f29109;
  float: left;
  padding: 5px;
  text-transform: uppercase;;
  border-radius: 5px;
  margin-left: 5px;
  width: 50px;
  text-align: center;
}

#infoRestaurant .imenu {
  background-color: #FFF;
  color: #000;
  font-weight: bold;
  font-size: 12px;
  border: solid 1px #f29109;
  float: left;
  padding: 5px;
  text-transform: uppercase;;
  border-radius: 5px;
  margin-left: 5px;
  width: 70px;
  text-align: center;
}

#infoRestaurant .hours {

}

#infoRestaurant .distance {
  font-weight: bold;
  float: right;
  clear: right;
  color: #ccc;
  font-size: 16px;
  padding-right: 10px;
}

#slides_restaurant > ion-slides > div > div.swiper-pagination.swiper-pagination-clickable{
  display: none;
}

/* SUGGEST */

#suggest {
  height: 100vh;
  width: 100%;
  background-image: url('../img/bg_suggest.png');
  background-size:cover;
}

#suggest .suggest_content,.find_content{
  height: 50vh;
  width: 100%;
  padding: 5%;
}

#suggest i {
  width: 100%;
  font-size: 24px;
  display: block;
  color: #fff;
  text-align: center;
  line-height: 1.2em;
}

#suggest span {
  color: #F29109;
}

#suggest i.icon {
  font-size: 120px;
}



/* menuRestaurant */

#menuRestaurant{
  background-color: #DCDCDC;
}

#menuRestaurant ul.categories {
  background-color: #DCDCDC;
  padding: 2% 1%;
  float: left;
  width: 100%;
  clear: both;;
}

#menuRestaurant ul.categories li {
  width: 20%;
  float: left;
  text-align: center;
}

#menuRestaurant ul.categories li img{
  max-width: 100%;
  cursor: pointer;
}

#menuRestaurant .subcategories .name {
  text-align: center;
  background-color: #fff;
  padding: 5px;
  color: #F29109;
  text-transform: uppercase;;
  font-weight: bold;
  cursor: pointer;
}

#menuRestaurant .subcategories .swiper-container {
    height: 60px;
}

#menuRestaurant .subcategories .active .name {
  background-color: #F29109;
  color: #FFF;
}

#menuRestaurant .subcategories {
  width: 100%;
  float: left;
  clear: both;
}

#menuRestaurant ul.products {
  width: 100%;
  float: left;
  clear: both;
}

#menuRestaurant ul.products li {
  width: 100%;
  float: left;
  clear: both;
  background-color: #fff;
  padding: 2%;
  text-transform: uppercase;;
  font-weight: bold;
  border-top: 1px solid #ccc;
  font-size: 16px;
}

#menuRestaurant ul.products li .name {
  float: left;
  max-width: 150px;
}
#menuRestaurant ul.products li .price {
  float: right;
  margin-right: 10px;
}

#menuRestaurant ul.products li .currency {
  float: left;
}

#menuRestaurant ul.products li .value {
  float: left;
  color: #F29109;
  padding-left: 5px;
}

#menuRestaurant ul.products li .quantity {
  float: right;
  width: 100px;
}
#menuRestaurant ul.products li .quantity div{
  float: left;
  width: 33.3%;
  font-size: 24px;
  text-align: center;
  }

#menuRestaurant ul.products li .quantity .plus{
  color: #65B32E;
}

#menuRestaurant ul.products li .quantity .minus{
  color: #E51C20;
}

#menuRestaurant .menuAction {
background-color: #fff;
width: 100%;
display: inline-block;
padding: 5px;
}

#menuRestaurant .menuAction .element{
  width: 23%;
  float: left;
  height: 90px;
  margin: 0px 0.5%;
}

#menuRestaurant .menuAction button{
  margin: 0px;
}


#menuRestaurant .menuAction .totOrder{
  background-color: #F29109;
  border-radius: 10px;
}
#menuRestaurant .menuAction .totOrder .label{
  text-align: center;
  color: #FFF;
  font-size: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  padding: 5px;
}

#menuRestaurant .menuAction .yappto_icon {
  background-image: url('../img/icon/yappto.png');
  background-color: #F29109;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#menuRestaurant .menuAction .totOrder .value{
  text-align: center;
  color: #FFF;
  font-size: 16px;
  padding: 5px;
}

#menuRestaurant .menuAction .sendOrder{
  background-color: #F29109;
  border-radius: 10px;
  color: #fff;
  padding: 5px;
  font-size: 13px;
}

#menuRestaurant .menuAction .listOrder{
  background-color: #F29109;
  border-radius: 10px;
  color: #fff;
  padding: 5px;
}

/*Reservations*/
#tables {
  height: 85vh;
  width: 90vw;
}
#tables li.table-icon {

  width: 15vw;
  padding-top: 5vw;
  height: 15vw;
  margin: 1vw;
  background-color: #F29109;
  font-size: 24px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  list-style: none;
}


/*YappTo*/
#yappTo .tables {
height: 85vh;
width: 100vw;
}

#yappTo .tables li {
padding: 5vw;
background-color: #F29109;
color: #fff;
border-radius: 10px;
font-size: 18px;
}

#yappTo #tableUsers {
  position: absolute;
  width:100vw;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}


#yappTo #tableUsers .content{
  width: 90%;
  margin: auto;
  background-color: #fff;
  height: 75vh;
  top: 5vh;
}

#yappTo #tableUsers .content .close{
  font-size: 28px;
  padding: 15px;
  float: right;
}

#yappTo #tableUsers .content .chatUsersList{
  width: 100;
  display: block;
  clear: both;
  padding: 10px;
}

#yappTo #tableUsers .content .chatUsersList h1{
  float: left;
  color: #442914;
}


#yappTo #tableUsers .content .chatUsersList li{
  border-top: 1px solid #000000;
  display: block;
  clear: both;
  padding: 10px 0px;
}

#yappTo #tableUsers .content .chatUsersList li > div{
  float: left;
}

#yappTo #tableUsers .content .chatUsersList li > div.image{
    width: 60px;
    margin-right: 10px;
    background-color: #F29109;
    border-radius: 30px;
  }

#yappTo #tableUsers .content .chatUsersList li img{
  padding: 10px;
  width: 100%;
}

#yappTo #tableUsers .content .chatUsersList li > div .name{
  color: #442914;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

#yappTo #tableUsers .content .chatUsersList li > div .zodiac{
  color: #A3A3A3;
  font-size: 16px;
  margin-top: 5px;
}

#yappTo #tableUsers .content .chatUsersList .action{
  color: #F29109;
  font-size: 3em;
  float: right;
}

.conosciamoci {
  text-align: center;
  background-color: #f29109;
  margin: 2%;
  padding: 5%;
}

.conosciamoci .title {
  font-size: 18px;
  color: #FFF;
  text-align: center;
  line-height: 1.2em;
}

.conosciamoci .icon {
     padding: 10px;
      margin-top: 20px;
      font-size: 25px;
      border-radius: 10px;
      border-radius: 15px;
      border: 1px solid #fff;
      margin-bottom: 10px;
      color: #FFF;
      text-align: center;
      background-color: #f29109;
}
